
body{
	background-color:#1e1e1e;
	background-repeat: no-repeat;
	 background-position: center center;
	     background-attachment: fixed;
		 margin:0;
		 padding:0;

 user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index:0;
overflow:hidden;
color:#fff;
font-size:8px;
font-family:Consolas, monospace;
font-weight:bold;
}
#console {
z-index:44;
padding-left:8%;
margin-top:13%;
margin-bottom:10%;
}


    .stage {
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index:0;
overflow:hidden;
position:fixed;
color:#fff;
font-family:Consolas, monospace;
    }


    .stage img {
        position:fixed;
       width:100%;
        top:0%;
        left:0;
        right:0;
        bottom:0;
    pointer-events: none;



    }

		    .task2 img {
        position:fixed;
       width:100%;
        left:0;
        bottom:40px;
    pointer-events: none;


    }


	#task  {
        position:fixed;
		height:40px;
		background-color:#808080;
		display:block;
       width:100%;
        left:0;
        bottom:0;
    pointer-events: none;


    }




#date-time {
    font-size:9pt;
    font-family:segoe UI, Arial;
    width:55px;
    height:25px;
    text-align:center;
	z-index:999;
	bottom:12px;
	right:15px;
	position:fixed;
color:#fff;
font-weight:normal;


}

#section {
display:none;
position:fixed;
background:#CCC;
width:100%;
height:37px;
padding:10px;
z-index:997;
color:#000;
font-family:Segoe UI;

}

#AccessGranted{
position:fixed;
background:url(../ASSETS/img/denied.gif);
background-repeat:repeat;
padding:20px;
border:2px solid #F00;
font-family:Arial;
text-shadow: 0.1em 0.1em 0.2em #000;
width:300px;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -160px;
text-align:center;
display:none;
color:#F00;
}
#AccessDenied{
position:fixed;
background:url(../ASSETS/img/denied.gif);
background-repeat:repeat;
padding:20px;
border:2px solid #F00;
font-family:Arial;
text-shadow: 0.1em 0.1em 0.2em #000;
width:300px;
top: 50%;
left: 50%;
margin-top: -35px;
margin-left: -160px;
text-align:center;
display:none;
color:#F00;
}
.securityBreach{
position:fixed;
background:url(denied.gif);
background-repeat:repeat;
padding:20px;
border:2px solid #F00;
text-shadow: 0.1em 0.1em 0.2em #000;
width:300px;
height:160px;
top: 50%;
left: 50%;
margin-top: -80px;
margin-left: -160px;
display:none;
text-align:center;
color:#F00;
}
.coldwar{
position:fixed;
border:2px solid #F00;
top: 50%;
left: 50%;
margin-top: -200px;
margin-left: -280px;
text-align:center;
display:none;
color:#F00;
}
.radar{
position:fixed;
top: 5%;
right: 5%;
text-align:center;
display:none;
color:#F00;
}
.radar img {
clear:both;
width:250px;
display:none;
}
#Pony {
position:fixed;
background:transparent;
border:0;
right: 5%;
width:200px;
height:200px;
bottom: 5%;
z-index:499;
}
.pony img {
width:128px;
}
.window{
position:fixed;
border:2px solid #F00;
top: 50%;
left: 50%;
margin-top: -240px;
margin-left: -320px;
overflow:hidden;
width:640px;
height:480px;
text-align:center;
color:#F00;
display:none;
}
#center {
position:fixed;
height:100%;
width:100%;
z-index:-1;
background-image:url('../ASSETS/logos/mlp.png');
background-repeat:no-repeat;
background-position:center;
}
.footerbtns {position:fixed; bottom:10px; right:10px;}